.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home h1{
  color: #D09137
}

.drop-down{
  width: 80%;
  font-size: 1.2em;
  border: 10px solid #D09137;
  color: #D09137;
  background:#FFF1DA;
  padding: 0.5em;
}
